.App {
  background-color: #c0fefc;
 
  font-size: larger;
  
 margin-right: 75%;
}

.pub2{
  margin-top: 1.5%;
  width: 280px;
  height: 360px;
  margin-bottom: 1.5%;
  border-radius: 0.5em;
  margin-left: 5%;
}
button{
  margin-left: 5%;
}